
@inline-block: inline-block;
@border-default: 1px solid #eee;
@bg-color: red;
.red{
	color: @bg-color;
}
.app-content{
    height: 85%;
    width: 99%;
    position: absolute;
}
.left-content{
    width:20%;
}
.right-content{
    width:78%;
}
@media (max-width: 768px) {
    .left-content {
        width: 200px;
    }
    .right-content{
	    width:500px;
	}
}